#container {
	width: 500px;
    height: 500px;
}

#fc {
	width: 500px;
    height: 500px;
}
.call {
    fill: #999;   
}
.call.hovered {
    fill: #666;
}

#info-panel{
    width: 350px;
    height: 500px;
    background-color: #EEE;
    position: absolute;
    top: 0px;
    right: 0px;
}
